doctype html
html(lang="zh-TW")
	head
		meta(charset="utf-8")
		meta(content="width=device-width, initial-scale=1.0", name="viewport")
		block pagetitle
			title middlemiddle Co.,Ltd. - Coming Soon		
		link(href='assets/css/app.css', type='text/css', rel='stylesheet')
		
	body
		header
		main
			#wrapper
				block content
					p this page is empty.
				#footer
						p middlemiddle Co.,Ltd. 2015
			
			block scripts
				script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
				script(src='assets/js/build.min.js')
				script(src='http://localhost:35729/livereload.js')
