- var title = 'Ready ? Go2.';

extends _layout.jade

//- block pagetitle
//- 	title middlemiddle Co.,Ltd. - Coming Soon

block content
	.container
		.brand
			img(src='assets/images/middlemiddle-main-logo.svg')
		.message
			p See you soon !
		.social-media
			a.icons-facebook(href='javascript:;')
				img(src='assets/images/icons/icons-facebook.png')
			a.icons-instagram(href='javascript:;')
				img(src='assets/images/icons/icons-instagram.png')
			a.icons-twitter(href='javascript:;')
				img(src='assets/images/icons/icons-twitter.png')
			a.icons-mail(href='javascript:;')
				img(src='assets/images/icons/icons-mail.png')
