extends ../_layout.jade

block content
	#list
		.grid-sizer

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src='/assets/js/build.min.js')
	script(src='http://localhost:35729/livereload.js')