extends ../_layout.jade

block content
	#list
		.grid-sizer

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src='/assets/js/lib/socket.io.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js')
	script(src='/assets/js/lib/imageloaded.min.js')
	script(src='/assets/js/all.js')
	script(src='/assets/js/loader.js')
	script(src='http://localhost:35729/livereload.js')